.row, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    margin: 0;
    padding: 0;
} 

.highlight{
    background-color: lightyellow;
}

#siteTitle, #siteFooter{
    background-color: #17252A;
    display: flex;
    flex-wrap: wrap;
    color: #86C232;
    font-family: 'Goldman', cursive;

}
 #siteTitle{
    font-size: 6rem;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 40px 0px 40px 0px;
 }

 #siteFooter{
    height: 60px;
    margin-top: 20px;
}

.mainTitle{
    font-size: 6rem;
}
.mainSubTitle{
    font-size: 4rem;
}
.mainTitle, .mainSubTitle, .footer{
    text-align: center;
    margin: auto;
}






/*MEDIA STYLE*/

@media screen and (max-width: 1880px){
    
}

@media screen and (max-width: 1580px){
    .mainTitle{font-size: 5rem;}
    .mainSubTitle{font-size:3rem;}
}

@media screen and (max-width: 1380px){
    .mainTitle{font-size: 4.5rem;}
    .mainSubTitle{font-size:2.5rem;}
}

@media screen and (max-width: 1030px){
    #siteTitle{margin-bottom: 20px;}
    .mainTitle{font-size: 4.2rem;}
    .mainSubTitle{font-size:2.2rem;}
}

@media screen and (max-width: 830px){
    .mainTitle{font-size: 3rem;}
    .mainSubTitle{
        font-size:2rem;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 530px){

}